<form method="post">
    <div>name =<input type="text" name="name" value="<%= books.name %>" /></div>
    <div>price =<input type="text" name="price"  value="<%= books.price %>"/></div>
    <button> save</button>


</form>