<h1>book data</h1>
<a href="/form">form insert</a>

<table>
    <tr>
        <td>id:
    </td>
    <td>name:</td>
    <td>price:</td>
</tr>
<% books.forEach(function(item){ %>
<tr>
    <td><%= item.id %>
</td>
<td><%= item.name %></td>
<td><%= item.price %></td>
</tr>
<% }); %>
</table>